body {
    background: #ccc;
    color: #fff;
    width: 970px;
    margin: 0 auto;
    font: 12px Tahoma, sans-serif;
}


h1 {
    font-size: 33px;
    color: blue;
    text-transform: uppercase;
}

body p {
    font-size: 22px;
    font-style: italic;
}